.landingPage {
  display: flex;
  flex-direction: column;
  margin: auto;
}

h2 {
  font-family: Luminari, fantasy;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  margin-top: 10px;
  text-shadow: 2px 2px #3CB371;
  margin: auto;
}

.btn_Start {
  border-radius: 4px;
  cursor: pointer;
  color: brown;
  height: 40px;
  width: 150px;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 15px;
  font-weight: bold;
  font-family: Luminari, fantasy;
  transition: all 0.5s;
}

.btn_Start span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn_Start span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn_Start:hover span {
  padding-right: 25px;
  background-color: red;
}

.btn_Start:hover span:after {
  opacity: 1;
  right: 0;
}
