* {
  box-sizing: border-box;
}

body, html {
  background-image: url(../Back.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  /*height: 180vh;*/
}

.Main {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}

.App-header {
  min-height: 10vh;
  align-items: center;
  margin-left: 20px;
  margin: auto;
}

h1 {
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  font-size: 30px;
  margin-top: 40px;
  letter-spacing: 5px;
  font-weight: bold;
  font-family: Arnoldboecklin, fantasy;
}
