.paint-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Oldtown, fantasy;
}

p {
  margin-left: 20px;
}

label, input {
  margin: auto;
  margin-bottom: 20px;
}

label {
  margin-right: 15px;
  font-size: 30px;
}

input {
  border-radius: 2px;
  height: 30px;
  width: 150px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: auto;
}

.grid {
  height: 300px;
  width: 300px;
  margin-bottom: 30px;
  border: 2px solid olive;
  -moz-box-shadow: inset 0 0 10px olive;
  -webkit-box-shadow: inset 0 0 10px olive;
  box-shadow: 3px 3px olive, -1em 0 .4em olive;
  background: #f7f7f7;
}

.row {
  width: 100%;
  height: 33.3%;
  display: flex;
}

.column {
  height: 100%;
  width: 33.3%;
  border: 1px solid black;
}

.palette {
  height: 100px;
  width: 300px;
}

.tooltiptext {
  visibility: hidden;
  width: 50px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin-top: 40px;
  position: absolute;
  z-index: 1;
}

.palette-row div:hover .tooltiptext {
  visibility: visible;
}

.palette-row div:hover, .row div:hover {
  border: 2px solid white;
  cursor: pointer;
}

.palette-row {
  height: 25%;
  width: 100%;
  border: 1px solid black;
  display: flex;
}

.palette-column {
  border: 1px solid black;
  width: 50%;
  height: 100%;
}

.blue {
  background: blue;
}

.orange {
  background: orange;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.pink {
  background-color: pink
}

.purple {
  background-color: purple;
}

.cyan {
  background-color: cyan;
}

.black {
  background-color: black;
}

.brown {
  background-color: brown;
}

.btn-save-painting {
  margin: 0 auto;
  display: block;
  width: 100px;
  height: 50px;
  border-radius: 4px;
  border: 2px solid brown;
  cursor: pointer;
  color: brown;
  font-size: 20px;
  font-weight: bold;
  font-family: Oldtown, fantasy;
  background: transparent;
  box-shadow: 0 9px #999;
}

.btn-save-painting:hover {
  background-color: grey;
  color: white;
}
